<div id="footer">
  <div id="footer-nav-links">
    <a class="foot-links" href="#">MVW &copy; 2017</a>
    <a class="foot-links" href="#">PRIVACY & LEGAL</a>
    <a class="foot-links" href="#">CONTACT</a>
  </div>
</div>