<!DOCTYPE html>
<html>
  
  <head>
    <title>Mountain Valley Woodworks</title>
   <link rel="stylesheet" type="text/css" href="CSS/styles.css">
  </head>


<body>
<div class="container">
  <div class="app-card-container" style="background-color: rgba(35, 35, 38, 0.9);">
    <div class="card">
      <div id="content">
        <div id="wrapper">
          <div id="title">Mountain Valley Woodworks</div>
          <hr>
          <h3 id="subtitle">Check out our Furniture</h3>

          <div id="buttons">
            <span class="btn btn-primary"><%= link_to 'KITCHEN', kitchen_path %></span>
            <span class="btn btn-primary"><%= link_to 'LIVINGROOM', livingroom_path %></span>
            <span class="btn btn-primary"><%= link_to 'BATHROOM', bathroom_path %></span>
          </div>
        </div>
      </div>

      <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3072.7509922940553!2d-111.44148108447486!3d39.63281017946392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874c3f3d2588dc9f%3A0x26b6da7ab24506fd!2s150+W+300+N+St%2C+Fairview%2C+UT+84629!5e0!3m2!1sen!2sus!4v1486165363084" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

  <div class="covert-logo-div">
    <a href="www.covertfurniture.com"><img src="http://www.covertfurniture.com/wp-content/uploads/2015/09/CF-Logo-No-Text1.png" class="covert-logo"></a>

    <p>Check out our sister company Covert Furniture</p>
  </div>




  <div id="footer">
    <div id="footer-nav-links">
      <a class="foot-links" href="#">MVW &copy; 2017</a>
      <a class="foot-links" href="#">PRIVACY & LEGAL</a>
      <a class="foot-links" href="#">CONTACT</a>
    </div>
  </div>


  
</body>
</html>