<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container" style="background-image: url('kitchen.jpg');">  
    <div class="kitchen">
      <h1 class="kitchen-title">This is the kitchen page</h1>
        <div class="home-link">
          <%= link_to 'Home', root_path %>
        </div>
    </div>
  </div>
  
</body>
</html>

