
<div class="container" style="background-image: url('kitchen.jpg');">  
  <div class="kitchen">
    <h1 class="kitchen-title">This is the kitchen page</h1>
      <div class="home-link">
        <%= link_to 'Home', root_path %>
      </div>
  </div>
</div>


<div id="wrapper">
  <div id="columns">
    <div class="item">
      <img src="http://www.covertfurniture.com/wp-content/uploads/2015/09/Bookcase-24-Inch.jpg">
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
    </div>

    <div class="item">
      <img src="http://www.covertfurniture.com/wp-content/uploads/2015/09/Chest5-194x300.jpg">
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
    </div>

    <div class="item">
      <img src="http://www.covertfurniture.com/wp-content/uploads/2015/09/MagRackMain-150x150.jpg">
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
    </div>

    <div class="item">
      <img src="http://www.covertfurniture.com/wp-content/uploads/2017/03/FS-Mag-Rack-10.jpg">
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
    </div>
  </div>
</div>

