html {
  background: url('cabinets.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

#content {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: black;
  text-align: center;
}

#nav-links {
  text-align: center;
  font-size: 50px;
}

.head-links {
  display: inline-block;
}

.foot-links {
  color: white;
  margin: 20px;
}

#title {
  color: white;
  font-size: 40px;
  margin-right: auto;
  margin-left: auto;
}

#buttons {
  margin: 10px;
  padding: 10px;
}

.button {
  background-color: gray;
  padding: 10px;
  border: 1px solid transparent;
}

#button:hover {
  border: 1px solid white;
}

#footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
}

#subtitle {
  margin: 10px;
  color: white;
}

#map {
  margin: 50px 0px 50px 510px;
}